%section
  %h1 Your data are bad, and you should feel bad
  %h2 The evils of typos and free text
  %h3 Bill Dueber, Library Systems
  %p dueberb@umich.edu
  %p @billdueber / Twitter
  %p github.com/billdueber

%section
  %h2 Let's walk that back a bit
  %ul
    %li.fragment The data aren't all that bad.
    %li.fragment You should probably still feel a little bad.

%section
  %h2 Where I'm coming from
  %ul
    %li.fragment No MLS
    %li.fragment MS's in Computer Science and Instructional Technology
  %h2{:style=>"margin-top: 1em"} Assertions
  %ul
    %li.fragment Metadata is useful insofar as it makes things discoverable.
    %li.fragment Common things should be easy; hard things should be possible.
    %li.fragment Free-text metadata makes search hard, has huge opportunity cost
    %li.fragment Incorrect data is rare but problematic
    %li.fragment Library "standards" are often dumb and routinely ignored

%section
  %h2 What we'll cover in the next four minutes
  %ol
    %li.fragment
      The data are bad
    %li.fragment The MARC format is dumb
    %li.fragment Many cataloging rules are insane
  %div.fragment
    %p Warning: I'm rather excitable. There may be some yelling
    %p Also, I'm probably going to use the word "crappy" a lot.


%section
  %h2 1. The data are bad
  %div
    %strong "Bad"
    means
    %em incorrect
    OR
    %em inconsistent
    OR
    %em otherwise hard for a computer to deal with
  %ul.fragment
    %li "Unique" identifiers aren't unique
    %li "Standards" aren't standard
    %li "Local practice" doesn't help when there's no more "local"
    %li.red We're not printing cards anymore!

%section
  %h2 More than 5mn worth. But briefly:
  %div The problem is death by a thousand cuts
  %ul
    %li 6500 '020a' subfields with no ISBN in them; 8500 fail checksum
    %li 30k records with invalid 008 fields
    %li Punctuation overloaded with syntactic and sematic meaning? Really??
    %li Q: How many LCSH headings should include these "words":
    %ul
      %li Unitd
      %li Germay
      %li Austrlia
      %li Libaries
    %li Did you know we put E-ISSNs in the 022y (reserved for incorrect ISSNs)?


%section
  %h2 Things to consider
  %ul
    %li.fragment Typos render things invisible (and you can't browse an increasing percentage of stuff)
    %li.fragment We're not far from "our" data being used primarily outside of "our" systems.
    %li.fragment Things will only be cataloged once. Don't throw away data!
    %li.fragment Thinking about serials too hard will give you night terrors.

%section
  %h2 ISBN (020a) parenthetical notes
  %ul
    %li.fragment
      %em What dinglefritz thought this was a good idea????
    %li.fragment
      Contains anything you want. But often binding information.

%section
  %p hard | hard adhesive | hard back | hard bd | hard book | hard bound | hard bound book | hard boundhard case | hard casehard copy | hard copy | hard copy set | hard cov | hard cover | hard covers | hard sewn | hard signed | hard-backhard-backcased | hard-bound | hard-cover | hard-cover acid-free | hardb | hard\cover | hardbach | hardback | hardback book | hardback cover | hardbackcased | hardbd | hardbk | hardbond | hardbook | hardboubd | hardbound | hardboundhardboundtion | hardc | hardcase | hardcopy | hardcopy publication | hardcov | hardcov er | hardcovcer | hardcove | hardcover | hardcover-alk. paper | hardcovercloth | hardcoverflexibound | hardcoverhardcoverwith cd | hardcoverr | hardcovers | hardcoversame | hardcoversame as above | hardcoverset | hardcovertion | hardcver | hardcvoer | hardcvr | harddback | harde | hardocover | hardover | hardpack | hardpaper | hardvocer | hardware | hd | hd bd | hd. bd | hd. bd. in slip case | hd. bd.in sl.cs | hd. bk | hd. cover | hd.bd | hd.bd. in box | hdb | hdbd | hdbk | hdbkb | hdbkhdbk | hdbnd | hdc | hdcvr | hdk | hdp | hdpk | hradback | hradcover | hrd | hrdbk | hrdcver | hrdcvr

%section
  %h2 The MARC format is dumb
  %li.fragment
    %strong Dumb
    means
    %em restrictive in what it can easily represent

%section
  %h2 How do we know MARC is insufficient as a data strucure?
  %div.fragment
    Answer: Because catalogers have to make up
    %em stoopid
    ways to represent structured data.

%section
  %h2 Example: Table of Contents
  %h3 "Rendered"
  %img{:src => 'images/ss1.png', :style=>"width: 250%"}

%section
  %h2 Example: Table of Contents
  %h3 Source
  %img{:src => 'images/ss2.png'}
  %div  Foreword. Conceptual order and collaborative tools : creating intellectual identity / Margaret Riel -- Introduction to electronic collaborators ; Computer conferencing and collaborative writing tools : starting a dialogue about student dialogue / Curtis Jay Bonk, Kira S. King -- Searching for learner-centered, constructivist, and sociocultural components of collaborative educational learning tools / Curtis Jay Bonk, Donald J. Cunningham -- Critical thinking in a distributed environment : a pedagogical base for the design of conferencing systems / Thomas M. Duffy, Bill Dueber, Chandra L. Hawley

%section
  %h2 My beef
  %div is both with what we do and how we do it
  %div
    when only librarians (and a few weirdos) care about anything other than
    %em the right words in the right order.


%section
  %h2  Bibliographic data is inherently complex
  %div
    %em
      "People need to accept that a variety of tools are necessary..."
  %div
    %em
      "Cataloging rules have changed over time, and local practice..."
  %div (And my personal favorite)
  %div.fragment
    %em "You have to understand that historically, ..."

%section
  %h2.red SHUT UP SHUT UP SHUT UP SHUT UP!!!!!!!!!!
  %div Stop hiding behind those increasingly lame excuses.
  %div.fragment
    Users "oughta wanna" be interested in / know / understand
    %strong LOTS
    of things. But they don't. And they never will.

%section
  %h2 Free text
  %div "I just need to write a parser to..."
  %ul
    %li.fragment
      Try to determine if a book is an edited work.
      %strong.fragment REALLY????
    %li.fragment Figure out which of the four dates present is most useful
    %li.fragment Find and normalize supposedly-unique identifiers
    %li.fragment Enumerate and expand every possible shortening (and spelling) of "Department"
    %li.fragment
      A double-dog-dare:
      %div.fragment.red Ask me about enum/chron.

%section
  %h2 Other annoyances:
  %ul
    %li Dates appear everywhere
    %li LC class numbers are insanely complex (inline '118th'????)
    %li LCSH is essentially useless to essentially everyone.
    %li
      %em The place code ai was once used for Anguilla, but as of January 1, 1985 catalogers are instructed to use ai to mean Armenia (based on cataloging date, not date of publication)

%section
  %h2 Two final thoughts

%section
  %h2 1. I know why many of these practices came to be.
  %div.fragment (too few people thought beyond printing cards)

%section
  %h2
    It
    %strong kills
    me that it's happening now.
  %ul
    %li.fragment
      At this very moment, someone is cataloging a work with these rules and formats.
      Data are being
      %strong thrown away
      and we all know they'll never be recovered.

%section
  %h2 Coming technologies / "standards"
  %div FRBR, BibFrame, RDA
  %ul
    %li.fragment Don't think of how many years they've been in development
    %li.fragment Think of how many thousands and thousands of catalog records have been created
    %li.fragment ...and weep for me.

%section
  %h2 Thanks
  %div Bill Dueber, Library Systems, dueberb@umich.edu
