%section
  %h1 Datamart
  %h3 Bill Dueber, University of Michigan

%section
  %section
    %h2 Premise
    %p.fragment Decisions should be informed by data
    %p.fragment Data that's hard to get to aren't used to inform decisions
  
  %section
    %p 
      %em Evidence Based Library and Information Practice
    %p.fragment
      %strong 
        What is everyone 
        %em else
        doing?

%section
  %section
    %h2 How to get people what they need to know?
    %ul
      %li 
        Make decisions without data
        %span.fragment.red BAD
      %li.fragment
        Ask me to get the data for them
        %span.fragment.red Better
      %li.fragment
        Let them ask the data themselves
        %span.fragment.red Best

  %section
    %h2 "It's too complex for my librarians!"
    %ul
      %li.fragment No, it's not
      %li.fragment ...and your (somebody's) job is to make it easier

%section
  %h2 Three Virtues of the programmer
  %ul
    %li.fragment
      %strong Laziness
      %span.fragment I'm sick of adding functionality to the catalog just because the client stinks
    %li.fragment
      %strong Impatience
      %span No one should have to wait two days for a shelf list
    %li.fragment
      %strong Hubris
      %span "I bet I can build something..."

%section
  %h2
    I
    %em have
    to do this
  %p.em I need a list of all records published any UK country that do have an OCLC number but don't have an ISBN, restricted to those that have at least one item attached to it that has been checked out in the last five years and have been rebound. Exclude serials but include monograph series.

%section
  %h2 Should I really have to do this?
  %p.em I need a shelf list of all items in AAEL purchased during calendar 2011 whose call numbers start with QA. Include the title, barcode, and record number.


%section
  %h2 A solution in two parts:
  %ol
    %li ETL (Extract, Transform, Load)
    %li 
      Build a Data Warehouse Front End!
      %ul
        %li.fragment ...err, an intelligent query stytem that...err...
        %li.fragment Well, really, an interactive website with a window onto...
        %li.fragment Yeah...ummm...it builds spreadsheets.
    %li.fragment Now you have two problems.

%section
  %section
    %h2 Extract, Transform, Load
  
  %section
    %h2 Two things Systems Librarians must accept
    %ul
      %li.fragment 
        My ILS stores data in useless/crazy ways
        %span.fragment 
          %em Let go of your anger. Assume they were drunk!
      %li.fragment 
        The data themselves are terrible
        %span.fragment
          %em Catalogers are among the most anal people on the planet. This is the best humans can do.
      %li.fragment.red Any system that relies on MacroExpress is contributing to the downfall of civilization
      
  %section
    %h2 Like what? (examples from Aleph)
    %ul
      %li.fragment Dates and times are stored as 12-character strings (YYYYMMDDHHSS)
      %li.fragment Many numbers are stored in CHAR fields
      %li.fragment The invoice number is in characters 21-35 of field z30_rec_key_3 in the z30 table
      %li.fragment.red It's not a relational database. It's an expensive COBOL store.
      
  %section
    %h2 E & T (Extract and Transform)
    %ul
      %li.fragment Not hard, just slow
      %li.fragment First system based on Talend; Rewriting to use traject
      %li.fragment Use numeric/date types, varchars, normalize case, etc.
      %li.fragment Constant arms race with MacroExpress
      
  %section
    %h2 L (Load)
    %ul
      %li Totally separate database
      %li Table structure, normalization, foreign keys, indexes all for querying
      %li Fill it up anew every night

%section
  %h2 The Front End: Two ways to go
  %ul
    %li.fragment Lots of canned reports
    %li.fragment 
      Query builder
      %span.fragment.red √

%section 
  %h2 Development strategy
  %ul
    %li.fragment Mine ticket system for past report requests
    %li.fragment Build them
    %li.fragment Ask people what they want
    %li.fragment Build it
    %li.fragment Ask people to complain
    %li.fragment Fix stuff
    %li.fragment
      %bold.red Need to fight a culture that assumes things can't be changed

%section
  %h2 Security....schecurity
  %ul
    %li Query built up based on names of form elements
    %li Ridiculously insecure
    %li
      BUT
      %ul
        %li.fragment Access is restricted
        %li.fragment DB is read only
        %li.fragment Data renewed nightly    

%section
  %h2 Demo
    %p
      %a{:href=>"https://datamart.lib.umich.edu/"} Live
      %a{:href=>"static/index.html"} Local      


%section
  %h2 Before
  %ul
    %li 3-4 report requests a week
    %li Mostly pretty simple
    %li One day turnaround time for the easy stuff

%section  
  %h2 After
  %ul
    %li 3-4 report request a week
    %li Mostly more complex
    %li Feb. 2014: 38 users generated 283 reports
  